.fixed-bottom {
    position: fixed;
    background: #fff;
    width: 100%;
    bottom: 0;
    z-index: 99;
    border-top: 1px solid #ccc;
}
.fixed-bottom div {
    display: inline-block;
    float: left;
    text-align: center;
}
.fixed-bottom a {
    width: 100%;
    display: inline-block;
    font-size: 12px;
    color: #7a7a7a;
    line-height: 50px;
}